#newsId {
    display: none
}
span.checkpoint_status,
span.autosave_status {
    font-size: small;
    display: none;
}

div.notification_widget.info,
.notification_widget.info {
    display: none !important;
}

.edit_mode .modal_indicator:before {
    display: none;
}

.command_mode .modal_indicator:before {
    display: none;
}

#kernel_logo_widget,
#kernel_logo_widget .current_kernel_logo {
    display: none;
}

#kernel_logo_widget,
#kernel_logo_widget .current_kernel_logo {
    display: none;
}

div#ipython_notebook {
    display: none;
}

.typeahead-list>li.typeahead-group.active>a,
.typeahead-list>li.typeahead-group>a,
.typeahead-list>li.typeahead-group>a:focus,
.typeahead-list>li.typeahead-group>a:hover {
    display: none;
}

#header-container {
    display: none !important;
}

#new_notebook,
#open_notebook,
#help_menu,
#print_preview, #file_menu > .dropdown-submenu, #file_menu > .divider {
    display: none !important;
}
